version: "3.9"

services:
  backend:
    build: ./backend
    container_name: flask_app
    restart: always
    expose:
      - "5000"

  frontend:
    build: ./frontend
    container_name: nextjs_app
    restart: always
    expose:
      - "3000"
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend/prisma:/app/prisma

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    restart: always
